
.app {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pagination {
    display: flex;
    list-style: none;
}

.pagination li {
    border: 1px solid crimson;
    cursor: pointer;
}

.pagination li a {
    display: flex;
    padding: 5px;
}

.pagination li a:focus {
    outline: none;
}

.active {
    background-color: crimson;
}